#app-video-call{
    position: absolute;
    top:100px;
    right:0px;
    width:calc(400px);
    
    height:60%;
    overflow: auto;
}

#app-video-call video{
    max-width:365px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}