<div id="app-contact" class="contact">

    <div class="cent" *ngIf="mode == 0">

        <h2 class="title">Vos Contacts</h2>

        <div class="all_users">


                <div class="each col s2" *ngFor="let contact of contacts">

                    <img src="/assets/images/contact.png" style="width:100px;" alt="Contact">
                    <div class="name">
                        {{contact.user.nom}} {{contact.user.prenom}}
                    </div>
                    <button class="waves-effect waves-light btn " (click)="startChat(contact.id, contact.nom, contact.prenom)" style="width:100%">Discuter</button>
                    <button (click)="deleteContact(contact.user.id)" class="waves-effect waves-light btn red accent-4" style="width:100%">Supprimer</button>


            </div>
        </div>


        <a class="btn-floating btn waves-effect waves-light btn-large red add" (click)="toAddContact()">
            <i class="material-icons">add</i>
        </a>

    </div>
    <h2 *ngIf="mode == 1" class="title">Ajouter un contact</h2>

    <div *ngIf="mode == 1" class="bot">

        <div class="search my-search">
            <i class="material-icons">search</i>
            <input type="text" id="userFilter" [(ngModel)]="userFilter">

        </div>

        <div class="all_users">
            <div class="users" *ngFor="let user of allUsers" (click)="invite(user.id)">
                <div class="users_name">
                    {{user.nom}} {{user.prenom}}
                </div>
                <div class="users_invite btn danger">
                    Ajouter
                </div>
            </div>
        </div>
        <a class="btn-floating btn waves-effect waves-light btn-large red add" (click)="toSeeContact()">
            <i class="material-icons">visibility</i>
        </a>
    </div>
</div>