<div id="nav">
  <div class="intro">
    {{prenom}} {{nom}}
  </div>


  <div class="hr"></div>
  <div class="menu-item" (click)="toContact()">Contact</div>
  <div class="menu-item" (click)="toSettings()">Paramètre</div>
  <div class="menu-item" (click)="deconnexion()">Déconnexion</div>
  <div class="hr"></div>

  <div class="search">
    <i class="material-icons">search</i>
    <input type="text" id="search" [(ngModel)]="textFiltre" (keyup)="filtre()">
  </div>
  <div class="chap">
    <div class="chap_title">Channels</div>

    <a class="btn-floating btn waves-effect waves-light red chap_more" (click)="toAddChannel()"><i class="material-icons">add</i></a>

  </div>

  <div *ngFor="let channel of channelsFiltred" (click)="toTimeline()" class="line">
    <i class="material-icons">group_work</i>{{channel.libelle}}
  </div>

  <div class="chap">
    <div class="chap_title">Groupes</div>
    <a class="btn-floating btn waves-effect waves-light red chap_more" (click)="toAddGroupe()"><i class="material-icons">add</i></a>

  </div>

  <div *ngFor="let groupe of groupesFiltred" (click)="toTimeline()" class="line">
    <i class="material-icons">people</i> {{groupe.libelle}}
  </div>
  <div class="chap">
    <div class="chap_title">Chats</div>
    <!--<div class="chap_more" (click)="toAddChat()">+</div>-->
    <a class="btn-floating btn waves-effect waves-light red chap_more" (click)="toAddChat()"><i class="material-icons">add</i></a>
  </div>

  <div *ngFor="let chat of chatsFiltred" (click)="toTimeline()" class="line">
    <i class="material-icons">chat</i> {{chat.libelle}}
  </div>
</div>


<div id="top-bar">
  <div class="title-top" (click)="minimize()">
    <i class="material-icons">menu</i> Home
  </div>

  <div class="title-right" (click)="toNotification()">

    <i class="material-icons">notifications_none</i>
  </div>

</div>