<app-vmenu (deco)="deconnexion($event)" (addGroupe)="toAddGroupe($event)" (addChat)="toAddChat($event)" (addChannel)="toAddChannel($event)"
    (notification)="toNotification($event)" (timeline)="toTimeline($event)" (contact)="toContact($event)" (settings)="toSettings($event)"></app-vmenu>

<app-timeline  (added)="sendToSocket($event)"  [hidden]="router != 0"></app-timeline>
<app-contact  *ngIf="router == 1" (created)="chatCreate($event)"></app-contact>
<app-settings (deleted)="chatDeleted($event)" (userChanged)="userChanged($event)" (statutChanged)="statutChanged($event)" *ngIf="router == 2"></app-settings>
<app-notification  *ngIf="router == 3"></app-notification>
<app-add-channel  *ngIf="router == 4" (created)="channelCreate($event)"></app-add-channel>
<app-add-groupe  *ngIf="router == 5" (created)="groupeCreate($event)"></app-add-groupe>
<app-add-chat  *ngIf="router == 6" (created)="chatCreate($event)"></app-add-chat>